*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.overlay{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

img{
    width: 100px;
    height: auto;
}

.overlay > p{
    color: rgb(59, 177, 250);
    font-size: 1.2rem;
}

.hide{
    display: none; 
} 

.show{
    display: block;
}